<br>

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">



                            <div class="col-md-6">
                                <div class="card" style="background-color: #87CB16; cursor: pointer;" routerLink="/puesto">
                                    <div class="header">
                                        <h5 class="title" style="font-weight: bold; color: white;"><i class="pe-7s-box2"></i>&nbsp; Puestos</h5>
                                        <!-- <p class="category">Last Campaign Performance</p> -->
                                    </div>
                                    <div class="content" style="text-align: right;">
                                        <a style="color: white; font-weight: bold; font-size: 22px;">{{ contPuest }}</a>
                                    </div>
                                    <div class="footer">
                                        <div class="stats" style="color: white; font-weight: bold;">
                                            <i class="fa fa-plus" style="color: white;"></i> Ver Más
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="card" style="background-color: #87CB16; cursor: pointer;" routerLink="/competencia">
                                    <div class="header">
                                        <h5 class="title" style="font-weight: bold; color: white;"><i class="pe-7s-box2"></i>&nbsp; Valorizacion</h5>
                                        <!-- <p class="category">Last Campaign Performance</p> -->
                                    </div>
                                    <div class="content" style="text-align: right;">
                                        <a style="color: white; font-weight: bold; font-size: 22px;">{{ contPuest }}</a>
                                    </div>
                                    <div class="footer">
                                        <div class="stats" style="color: white; font-weight: bold;">
                                            <i class="fa fa-plus" style="color: white;"></i> Ver Más
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>