<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{contPro}}</h3>

                        <p>Procesos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <a [routerLink]="['/proceso']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{contAct}}</h3>

                        <p>Actividades</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-clipboard-list"></i>
                    </div>
                    <a [routerLink]="['/actividad']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{contPuest}}</h3>

                        <p>Puestos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <a [routerLink]="['/puesto']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div>
            <!-- ./col -->
            <!-- <div class="col-lg-3 col-6">
             
                <div class="small-box bg-danger ">
                    <div class="inner">
                        <h3>{{contRol}}</h3>

                        <p>Roles</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-diagnoses"></i>
                    </div>
                    <a [routerLink]="['/rol']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div>
           
            <div class="col-lg-3 col-6">
             
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{contAmb}}</h3>

                        <p>Ambitos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <a [routerLink]="['/ambito']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div> -->

            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{contGrup}}</h3>

                        <p>Grupo Ocupacional</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a [routerLink]="['/grupoOcupacional']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{contActPuest}}</h3>

                        <p>Actividad Puesto</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users-cog"></i>
                    </div>
                    <a [routerLink]="['/actividadPuesto']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{contComp}}</h3>

                        <p>Competencias</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-check-double"></i>
                    </div>
                    <a [routerLink]="['/competencia']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{contComp}}</h3>

                        <p>Valorización</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-tasks"></i>
                    </div>
                    <a [routerLink]="['/competencia']" href="#" class="small-box-footer">Mas informacion<i class="fas fa-arrow-circle-right" ></i></a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->