<div class="col-1 col-sm-1 col-md-3">
    <div class="info-box">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-clipboard-list"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Total de Actividades</span>
            <span class="info-box-number">
               {{contAct}}
        </span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Actividades</h3>

                <div class="card-tools">

                    <form #buscar="ngForm" class="form-horizontal" (keyup)="searchAct(buscar)">

                        <div id="zero_config_filter" class="dataTables_filter"><label><input type="text"  
                            class="form-control float-right" placeholder="Buscar..." value="{{ buscarAct }}" 
                            [ngModel]="buscarAct" id="buscarAct" name="buscarAct"  aria-controls="zero_config"></label></div>


                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Proceso</th>
                            <th style="text-align: right;" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let actividad of actividades">
                        <tr>
                            <td class="{{actividad.estado}}">{{actividad.descripcion}}</td>
                            <td class="{{actividad.estado}}">{{actividad.proceso.descripcion}}</td>
                            <td class="td-actions text-right">
                                <a style="cursor: pointer; margin-right: 7px;" style="cursor: pointer; color:white;" rel="tooltip" title="Editar" (click)="getDataActividad(actividad)" data-toggle="modal" data-target="#modalupdActividad">
                                    <a class="badge bg-primary"><i class="fas fa-edit"></i></a>
                                    <!-- <i class="fa fa-edit"></i> -->
                                </a>
                                <a *ngIf="actividad.estado == 'true'" style="cursor: pointer; color:white;" rel="tooltip" title="Eliminar" (click)="eliminarActividad(actividad)">
                                    <a class="badge bg-danger"><i class="fas fa-window-close"></i></a>
                                </a>
                                <a *ngIf="actividad.estado == 'false'" style="cursor: pointer; color: white;" rel="tooltip" title="Habilitar" (click)="habilitarActividad(actividad)">
                                    <a class="badge bg-success"><i class="fas fa-check"></i></a>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <caption>
                    <a class="btn btn-success" data-toggle="modal" data-target="#modaladdActividades" style="position: fixed; bottom: 15px; right: 20px; border-radius: 100% !important; float: right;">
                        <i style="color: white;" class="fa fa-plus"></i>
                    </a>
                </caption>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


<!-- Modal para registros nuevos -->
<div class="modal fade" id="modaladdActividades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #addActividad="ngForm" id="addC" (ngSubmit)="addActividades(addActividad); addActividad.reset()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Actividades</h5>
                    <button type="button" #closebuttonadd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripción:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="desAct" name="desAct" [ngModel]="desAct" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Proceso:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="proAct" name="proAct" [ngModel]="proAct" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="add_Actividad" name="add_Actividad">Agregar</button>

                </div>

            </div>
        </form>
    </div>
</div>


<!-- Modal para modificar nuevos -->
<div class="modal fade" *ngIf="dataUpdAct == true" id="modalupdActividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #updActividad="ngForm" id="updC" (ngSubmit)="updActividades(updActividad)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Actividades</h5>
                    <button type="button" #closebuttonupd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripción:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="desActU" name="desActU" [ngModel]="desActU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Proceso:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="proActU" name="proActU" [ngModel]="proActU.descripcion" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="updActividades" name="updActividades">Modificar</button>
                </div>
            </div>
        </form>
    </div>
</div>