<div class="col-1 col-sm-1 col-md-3">
    <div class="info-box">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users-cog"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Total de</span>
            <span class="info-box-text">Grupos Ocupacionales</span>
            <span class="info-box-number">
               {{contGrup}}
        </span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Grupo Ocupacional</h3>

                <div class="card-tools">

                    <form #buscar="ngForm" class="form-horizontal" (keyup)="searchGrup(buscar)">

                        <div id="zero_config_filter" class="dataTables_filter"><label><input type="text"  
                            class="form-control float-right" placeholder="Buscar..." value="{{ buscarGrup }}" 
                            [ngModel]="buscarGrup" id="buscarGrup" name="buscarGrup"  aria-controls="zero_config"></label></div>


                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Valor Minimo</th>
                            <th>Valor Maximo</th>
                            <th style="text-align: right;" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let grupoOcupacional of gruposOcupacionales">
                        <tr>
                            <td class="{{grupoOcupacional.estado}}">{{grupoOcupacional.descripcion}}</td>
                            <td class="{{grupoOcupacional.estado}}">{{grupoOcupacional.minVal}}</td>
                            <td class="{{grupoOcupacional.estado}}">{{grupoOcupacional.maxVal}}</td>
                            <td class="td-actions text-right">
                                <a style="cursor: pointer; margin-right: 7px;" style="cursor: pointer; color:white;" rel="tooltip" title="Editar" (click)="getDataGrupoOcupacional(grupoOcupacional)" data-toggle="modal" data-target="#modalupdGrupo">
                                    <a class="badge bg-primary"><i class="fas fa-edit"></i></a>
                                    <!-- <i class="fa fa-edit"></i> -->
                                </a>
                                <a *ngIf="grupoOcupacional.estado == 'true'" style="cursor: pointer; color:white;" rel="tooltip" title="Eliminar" (click)="eliminarGrupo(grupoOcupacional)">
                                    <a class="badge bg-danger"><i class="fas fa-window-close"></i></a>
                                </a>
                                <a *ngIf="grupoOcupacional.estado == 'false'" style="cursor: pointer; color: white;" rel="tooltip" title="Habilitar" (click)="habilitarGrupo(grupoOcupacional)">
                                    <a class="badge bg-success"><i class="fas fa-check"></i></a>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <caption>
                    <a class="btn btn-success" data-toggle="modal" data-target="#modaladdGruposOcupacionales" style="position: fixed; bottom: 15px; right: 20px; border-radius: 100% !important; float: right;">
                        <i style="color: white;" class="fa fa-plus"></i>
                    </a>
                </caption>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


<!-- Modal para registros nuevos -->
<div class="modal fade" id="modaladdGruposOcupacionales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #addGrupo="ngForm" id="addC" (ngSubmit)="addGruposOcupacionales(addGrupo); addGrupo.reset()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Grupos Ocupacionales</h5>
                    <button type="button" #closebuttonadd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripción:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="desGrup" name="desGrup" [ngModel]="desGrup" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Valor Minimo:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="minval" name="minval" [ngModel]="minval" onkeypress="return soloNumeros(event)" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Valor Maximo:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="maxval" name="maxval" [ngModel]="maxval" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="add_Grupo" name="add_Grupo">Agregar</button>

                </div>

            </div>
        </form>
    </div>
</div>


<!-- Modal para modificar nuevos -->
<div class="modal fade" *ngIf="dataUpdGrup == true" id="modalupdGrupo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #updGrupo="ngForm" id="updC" (ngSubmit)="updGrupos(updGrupo)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Grupos Ocupacionales</h5>
                    <button type="button" #closebuttonupd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripción:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="desGrupU" name="desGrupU" [ngModel]="desGrupU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Valor Minimo:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="minGrupU" name="minGrupU" [ngModel]="minGrupU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Valor Maximo:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="maxGrupU" name="maxGrupU" [ngModel]="maxGrupU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="updGrupos" name="updGrupos">Modificar</button>
                </div>
            </div>
        </form>
    </div>
</div>