<br>
<div class="col-md-3">
    <div class="card" style="background-color: #F59A3E; cursor: pointer;" routerLink="/rol">
        <div class="header">
            <h5 class="title" style="font-weight: bold; color: white;"><i class="pe-7s-box2"></i>&nbsp; Total de Roles </h5>
        </div>
        <div class="content" style="text-align: right;">
            <a style="color: white; font-weight: bold; font-size: 22px;">{{contRol}}</a>
        </div>

    </div>
</div>


<!-- 

<div class="col-md-3">


    <div style="text-align:right;padding:1em 0;">
        <h4>
            <a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/city/3658666"><br /></a>
        </h4> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=small&timezone=America%2FGuayaquil" width="100%" height="90" frameborder="0" seamless></iframe> </div>

</div> -->

<br>
<div class="main-content ps-scrollbar-y">
    <div class="card">
        <div class="container-fluid">
            <form #buscar="ngForm" class="form-horizontal" (keyup)="searchRol(buscar)">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <h4 class="card-title col-md-5"> Roles: {{contRol}}</h4>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <!-- <div class="input-group no-border" style="margin-top: 15px;"> -->
                            <input type="text" class="form-control" style="margin-top: 25px;" value="{{ buscarRol }}" [ngModel]="buscarRol" id="buscarRol" name="buscarRol" placeholder="Buscar...">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </form>




            <div class="row">
                <div class="col-md-12">
                    <div class="content table-responsive table-full-width" id="prueba">
                        <p *ngIf="coincidencia == false">No se encontró ninguna coincidencia</p>
                        <table class="table" *ngIf="coincidencia == true">
                            <thead>
                                <tr>
                                    <th>Descripcion</th>
                                    <th class="text-right">Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let rol of roles">
                                <tr>
                                    <td class="{{rol.estado}}">{{rol.descripcion}}</td>

                                    <td class="td-actions text-right">

                                        <a type="button" rel="tooltip" title="Editar" (click)="getData(rol)" data-toggle="modal" data-target="#modalupdRol" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a type="button" *ngIf="rol.estado === 'true'" rel="tooltip" title="Eliminar" (click)="eliminarRol(rol)" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-close"></i>
                                        </a>

                                        <a type="button" *ngIf="rol.estado === 'false'" rel="tooltip" title="Habilitar" (click)="habilitarRol(rol)" class="btn btn-success btn-simple btn-xs">
                                            <i class="fa fa-check"></i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<caption>
    <a class="btn btn-success btn-fill" data-toggle="modal" data-target="#modaladdRol" style="position: fixed; bottom: 15px; right: 20px; border-radius: 100% !important; float: right; height: 45px; width: 45px;">
        <i style="color: white; padding-top: 6px; padding-right: 8px;" class="fa fa-plus"></i>
    </a>
</caption>


<!-- Modal para registros nuevos -->
<div class="modal fade" id="modaladdRol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #addRol="ngForm" id="addC" (ngSubmit)="addRoles(addRol); addRol.reset()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Roles</h5>
                    <button type="button" #closebuttonadd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripción:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="desRol" name="desRol" [ngModel]="desRol" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="add_Rol" name="add_Rol">Agregar</button>

                </div>

            </div>
        </form>
    </div>
</div>


<!-- Modal para modificar nuevos -->
<div class="modal fade" *ngIf="dataUpd == true" id="modalupdRol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #updRol="ngForm" id="updC" (ngSubmit)="updRoles(updRol)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Roles</h5>
                    <button type="button" #closebuttonupd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripción:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="desRolU" name="desRolU" [ngModel]="desRolU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="updRol" name="updRol">Modificar</button>
                </div>
            </div>
        </form>
    </div>
</div>