.true {
    color: black;
}

.false {
    color: red;
}


/* 
#prueba {
    overflow: scroll;
    height: auto;
    width: auto;
}

#prueba table {
    width: auto;
    background-color: lightgray;
} */