<div class="col-1 col-sm-1 col-md-3">
    <div class="info-box">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-tie"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Total de Ambitos</span>
            <span class="info-box-number">
               {{contAmb}}
        </span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ambitos</h3>

                <div class="card-tools">

                    <form #buscar="ngForm" class="form-horizontal" (keyup)="searchAmb(buscar)">

                        <div id="zero_config_filter" class="dataTables_filter"><label><input type="text"  
                            class="form-control float-right" placeholder="Buscar..." value="{{ buscarAmb }}" 
                            [ngModel]="buscarAmb" id="buscarAmb" name="buscarAmb"  aria-controls="zero_config"></label></div>


                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th style="text-align: right;" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let ambito of ambitos">
                        <tr>
                            <td class="{{ambito.estado}}">{{ambito.descripcion}}</td>
                            <td class="td-actions text-right">
                                <a style="cursor: pointer; margin-right: 7px;" style="cursor: pointer; color:white;" rel="tooltip" title="Editar" (click)="getDataAmbito(ambito)" data-toggle="modal" data-target="#modalupdAmbito">
                                    <a class="badge bg-primary"><i class="fas fa-edit"></i></a>
                                    <!-- <i class="fa fa-edit"></i> -->
                                </a>
                                <a *ngIf="ambito.estado == 'true'" style="cursor: pointer; color:white;" rel="tooltip" title="Eliminar" (click)="eliminarAmbito(ambito)">
                                    <a class="badge bg-danger"><i class="fas fa-window-close"></i></a>
                                </a>
                                <a *ngIf="ambito.estado == 'false'" style="cursor: pointer; color: white;" rel="tooltip" title="Habilitar" (click)="habilitarAmbito(ambito)">
                                    <a class="badge bg-success"><i class="fas fa-check"></i></a>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <caption>
                    <a class="btn btn-success" data-toggle="modal" data-target="#modaladdAmbitos" style="position: fixed; bottom: 15px; right: 20px; border-radius: 100% !important; float: right;">
                        <i style="color: white;" class="fa fa-plus"></i>
                    </a>
                </caption>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


<!-- Modal para registros nuevos -->
<div class="modal fade" id="modaladdAmbitos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #addAmbito="ngForm" id="addC" (ngSubmit)="addAmbitos(addAmbito); addAmbito.reset()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Ambitos</h5>
                    <button type="button" #closebuttonadd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripción:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="desAmb" name="desAmb" [ngModel]="desAmb" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="add_Ambito" name="add_Ambito">Agregar</button>

                </div>

            </div>
        </form>
    </div>
</div>


<!-- Modal para modificar nuevos -->
<div class="modal fade" *ngIf="dataUpdAmb == true" id="modalupdAmbito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #updAmbito="ngForm" id="updC" (ngSubmit)="updAmbitos(updAmbito)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Ambitos</h5>
                    <button type="button" #closebuttonupd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripción:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="desAmbU" name="desAmbU" [ngModel]="desAmbU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="updAmbito" name="updAmbito">Modificar</button>
                </div>
            </div>
        </form>
    </div>
</div>